.vector-icon {
  position: absolute;
  height: 74.89%;
  width: 70.72%;
  top: 25.11%;
  right: 17.84%;
  bottom: 0;
  left: 11.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.logo2-2-icon {
  position: absolute;
  top: 42px;
  left: 503px;
  width: 360px;
  height: 140px;
  object-fit: cover;
}
.undraw-investment-re-rpk5-1-child {
  position: absolute;
  height: 44.93%;
  width: 90.15%;
  top: 50.26%;
  right: 0;
  bottom: 4.81%;
  left: 9.85%;
  border-radius: 40px;
  background-color: var(--color-steelblue-100);
}
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 9.16%;
  width: 1.94%;
  top: 84.73%;
  right: 73.37%;
  bottom: 6.11%;
  left: 24.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  height: 3.95%;
  width: 4.04%;
  top: 92.42%;
  right: 71.32%;
  bottom: 3.64%;
  left: 24.65%;
}
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  height: 8.83%;
  width: 4.52%;
  top: 76.85%;
  right: 74.57%;
  bottom: 14.32%;
  left: 20.91%;
}
.vector-icon4,
.vector-icon5 {
  height: 6.64%;
  width: 3.6%;
  top: 83.87%;
  right: 73.73%;
  bottom: 9.49%;
  left: 22.66%;
}
.vector-icon5 {
  height: 47.02%;
  width: 16.54%;
  top: 41.8%;
  right: 69.85%;
  bottom: 11.18%;
  left: 13.62%;
}
.vector-icon10,
.vector-icon6,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 36.47%;
  width: 12.3%;
  top: 12.15%;
  right: 69.17%;
  bottom: 51.38%;
  left: 18.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  height: 7.74%;
  width: 2.8%;
  top: 45.59%;
  right: 77.66%;
  bottom: 46.67%;
  left: 19.54%;
}
.vector-icon10,
.vector-icon8,
.vector-icon9 {
  height: 30.69%;
  width: 4.42%;
  top: 19.45%;
  right: 77.82%;
  bottom: 49.86%;
  left: 17.77%;
}
.vector-icon10,
.vector-icon9 {
  height: 8.18%;
  width: 2.37%;
  top: 38.96%;
  right: 65.1%;
  bottom: 52.87%;
  left: 32.53%;
}
.vector-icon10 {
  height: 29.05%;
  width: 7.99%;
  top: 15.34%;
  right: 64.92%;
  bottom: 55.6%;
  left: 27.09%;
}
.group-icon,
.undraw-cat-epte-1-icon,
.vector-icon11,
.vector-icon12 {
  position: absolute;
  height: 9.77%;
  width: 5.4%;
  top: 1.9%;
  right: 72.7%;
  bottom: 88.33%;
  left: 21.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon,
.undraw-cat-epte-1-icon,
.vector-icon12 {
  height: 10.04%;
  width: 6.2%;
  top: 0.16%;
  right: 72.25%;
  bottom: 89.81%;
  left: 21.55%;
}
.group-icon,
.undraw-cat-epte-1-icon {
  height: 50.94%;
  width: 27.8%;
  top: 49.06%;
  right: 72.2%;
  bottom: 0;
  left: 0;
}
.undraw-cat-epte-1-icon {
  height: 14.81%;
  width: 7.17%;
  top: 83.87%;
  right: 66.87%;
  bottom: 1.32%;
  left: 25.95%;
}
.div {
  position: absolute;
  height: 30.08%;
  width: 48.54%;
  top: 57.71%;
  left: 33.37%;
  line-height: 160px;
  font-weight: 600;
  display: inline-block;
}
.undraw-investment-re-rpk5-1-item {
  position: absolute;
  height: 19.17%;
  width: 10.6%;
  top: 62.78%;
  right: 4.99%;
  bottom: 18.05%;
  left: 84.41%;
  border-radius: 50%;
  background-color: #197fa9;
}
.kg {
  position: absolute;
  top: 67.86%;
  left: 86.28%;
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
}
.undraw-investment-re-rpk5-1 {
  position: absolute;
  top: 165px;
  left: 218px;
  width: 962px;
  height: 532px;
  overflow: hidden;
  color: var(--color-gray);
}
.tampinhas {
  margin: 0;
}
.arrecadadas {
  margin: 0;
  font-size: 60px;
}
.ponto-de-coleta,
.tampinhas-arrecadadas {
  position: absolute;
  top: 38.41%;
  left: 43.63%;
  line-height: 60px;
  font-size: 40px;
}
.ponto-de-coleta {
  top: 93.75%;
  left: 73.72%;
  font-size: 24px;
  line-height: 24px;
  color: #ccc;
}
.arrowuupleft-icon {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.voltar {
  position: relative;
  line-height: 24px;
  z-index: 0;
}
.boto-voltar {
  position: absolute;
  top: 24px;
  left: 32px;
  border-radius: 8px;
  border: 2px solid var(--color-steelblue-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 16px var(--padding-5xs) 12px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-family: var(--font-lato);
}
.balana-de-tampinhas {
  position: relative;
  background-color: var(--color-gray);
  width: 100%;
  height: 768px;
  overflow: hidden;
  text-align: left;
  font-size: 160px;
  color: var(--color-steelblue-100);
  font-family: var(--font-inter);
}
